<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <div><label>Username: <input type="text" name="username" /></label></div>
    <div><label>Password: <input type="password" name="password" /></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign in" /></div>
</form>
</body>
</html>